
<div class="adminIntro">
    <div>

        <h1>Hello admin here</h1>   
        <p>Here you can create a blog, create an author, handle an author</p>
        <p>Click on the links on the left to get started</p>
        <p>Have a great day</p>
    </div>
    <div>
        <p><%= username %> </p>
        <p><%= role %> </p>
    </div>     
</div>