<nav class="navbar">
  <div class="logo">Xblog</div>
  <div class="nav-links">
    <div class="showUsername">
      <p><%= username %></p>
    </div>
    <div class="drop-down">
      <a href="/logout">Logout</a>
      <a href="/<%= role %>"><%= role %></a>
    </div>
  </div>
</nav>
